<h2><%= @city.name %></h2>

<h3>Temperature</h3>
  <%= @city.temperature %>
<h3>Conditions</h3>
<%= @city.conditions %>
<h3>Wind</h3>
<%= @city.wind %>
<h3>Humidity</h3>
<%= @city.humidity %>